# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Build artifacts (cx_Freeze)
build/
Splint_Adherence/
libs/
Lib
Scripts/
Include/

# Environments
.venv/
venv/
env/

# OS / editor
.DS_Store

# Others
etc/
share/